<div class="container">
    <br>
    <h2>Thanks for your Order!</h2><br>
    <h4>Your Order Number is: {{orderNum}}</h4><br>
    <p>A confirmation will also be sent to your email shortly. We thank you for your support and hope to see you again!</p><br>
    <h5>${{total}}</h5><br>
    <br>
    <a href="/">Continue Shopping <i class="fas fa-long-arrow-alt-right"></i></a>
</div>